
# Application Name
APP_NAME=

# Database Configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# JPA Configuration
DDL_AUTO=update

# CORS Origin Patterns Allowed
CORS_ORIGINS_ALLOWED=*

# JWT Configuration
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=PT15M
JWT_REFRESH_TOKEN_EXPIRATION=P7D

# Mail Configuration
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL Configuration
FRONTEND_URL=

# Google Configuration
GOOGLE_CLIENT_ID=