# Application Name
APP_NAME=

# Actuator Configuration
EXPOSED_ENDPOINTS=health,info,metrics
BASE_URL=/actuator

# Database Configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# JPA Configuration
DDL_AUTO=update

# CORS Origin Patterns Allowed - (In list without the square brackets)
CORS_ORIGINS_ALLOWED=http://localhost:3000

# JWT Configuration
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL Configuration, swap with your local client address (Next.js) or domain
FRONTEND_URL=http://localhost:3000
FRONTEND_ID_FOR_PASSKEY=localhost

# Google Configuration
GOOGLE_CLIENT_ID=